.contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 70vh;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px dashed transparent;
}

h1 {
    color: deepskyblue;
    font-family: Lobster;
    text-align: center;
    text-shadow: -3px 3px #3d3a3a;
    font-size: 100px;
    padding: 20px;
}
