.container{
    text-align: center;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5px;
}

h1 {
    color: rgb(0, 153, 255);
    font-family: Lobster;
    text-align: center;
    text-shadow: -3px 3px #3d3a3a;;
    font-size: 100px;
}
h2 {
    color: rgb(0, 153, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: -2px 2px #3d3a3a;
    font-size: 60px;
}
h3 {
    color: rgb(0, 153, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: -1px 1px #3d3a3a;
    font-size: 40px;
}